# Project
data/app/checkmark.log
data/generated/

# System
.DS_Store

# Distribution / Packaging
.eggs/
*.egg
*.egg-info/
build/
dist/
eggs/
sdist/
wheels/

# Unit tests / Coverage reports
.coverage
.tox
htmlcov/

# Environments
.env
.venv
env/
venv/

# Python
__pycache__/
.ipynb_checkpoints
*.egg-info/
*.log
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/
